<app-base-page pageTitle="Agendar" [showBackButton]="true" backRoute="/home">
  <ion-card>
    <ion-card-content>
      <div class="titulo-calendario">
        <ion-icon name="calendar-outline" class="calendario-icon"></ion-icon>
        <ion-button fill="clear" class="botao-data" (click)="toggleCalendario()">
          {{dataAtual}}
        </ion-button>
      </div>
      
      <ion-datetime 
        *ngIf="mostrarCalendario" 
        presentation="date" 
        class="calendario-popup"
        [(ngModel)]="selectedDate"
        (ionChange)="onDateChange($event)">
      </ion-datetime>
      <h3 class="Titulo-h3">Dias para agendar</h3>
      <ion-item *ngFor="let dia of diasSemana" [class]="'dia-' + dia.cor + (dia.desabilitado ? ' desabilitado' : '')" [button]="!dia.desabilitado" (click)="irParaHorarios(dia)">
        <ion-label class="dias-Semana">{{dia.nome}} - {{dia.data}} {{dia.desabilitado ? '(Indisponível)' : 'Ver períodos'}}</ion-label>
      </ion-item>
      
      <div class="legenda">
        <div><ion-icon name="ellipse" color="success"></ion-icon> Todos Disponíveis</div>
        <div><ion-icon name="ellipse" color="warning"></ion-icon> Parcialmente Ocupado</div>
        <div><ion-icon name="ellipse" color="danger"></ion-icon> Todos Ocupados</div>
      </div>
      
      <ion-button expand="block" class="agendar" (click)="irParaSuaAgenda()">Sua Agenda</ion-button>
    </ion-card-content>
  </ion-card>
</app-base-page>
