# Dependências
node_modules/
npm-debug.log*

# Arquivos de ambiente (CHAVES API)
.env
.env.local
.env.development
.env.production
src/environments/environment.ts
src/environments/environment.prod.ts

# Build
dist/
www/
.angular/

# Capacitor
android/app/src/main/assets/
ios/App/App/public/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db