*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
ion-menu::part(backdrop) {
  background-color: #2eb2f1;
}
 
ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.2);
}
 
ion-menu::part(content) {
  background-color: #262627;
 
}
 
ion-menu::part(title) {
  color: #2eb2f1;
  font-size: 24px;
  font-weight: bold;
}
 
 
 
ion-icon {
  width: 50px;
  height: 50px;
  --color: rgb(72, 172, 255);
  color: rgb(72, 172, 255);
}
 
ion-title {
  --color: rgb(72, 172, 255);
  color: rgb(72, 172, 255);
  font-size: 24px;
  font-weight: bold;
}
 
h2 {
  color: #ffffff;
  text-align: center;
}
 
ion-content {
  --background: #222428;
}
 
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
 
ion-menu, ion-header, ion-toolbar {
  --background: #222428;
  border-bottom-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(72, 172, 255);
  box-shadow:  4px 0px 16px rgba(0, 0, 0, 0.562);
}
 
.redes-sociais {
  box-shadow:  4px 0px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border-width: 10px;
  border-color: #323334;
  border-style: solid;
  width: 300px;
  height: 100px;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
 
.carregar {
  width: 300px;
  height: 100px;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border-width: 10px;
  border-color: #323334;
  border-style: solid;
}
 
.icones {
  display: flex;
  gap: 200px;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
 
ion-menu-button {
  --background: transparent;
  --color: rgb(72, 172, 255);
  color: rgb(72, 172, 255);
  font-size: 100px;
}
 
.carregar {
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
}
 
.ionContent {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}