<app-base-page pageTitle="Home">
  <div class="container">
    <h2>Serviços</h2>
    <div class="carregar">
      <ion-button fill="clear" (click)="abrirGaleria()">
        <img src="assets/icone2.png" alt="Ícone personalizado" class="custom-icon">
      </ion-button>
    </div>
    <h2>Redes Sociais</h2>
    <div class="redes-sociais">
      <a href="https://wa.me/553132135100" target="_blank">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </a>
      <a href="https://www.facebook.com/senacminas" target="_blank">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      <a href="https://www.instagram.com/senacminas" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
      <a href="https://www.tiktok.com/@senacminas" target="_blank">
        <ion-icon name="logo-tiktok"></ion-icon>
      </a>
    </div>
    <div class="icones">
      <ion-button fill="clear" (click)="abrirCamera()">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="irParaAgenda()">
        <ion-icon name="calendar"></ion-icon>
      </ion-button>

    </div>
  </div>
</app-base-page>