<app-base-page pageTitle="Home">
  <div class="container">
    <h2>Serviços</h2>
    <div class="carregar">
      <a href="">
        <ion-icon class="image" name="image"></ion-icon>
      </a>
    </div>
    <h2>Redes Sociais</h2>
    <div class="redes-sociais">
      <a href="https://www.facebook.com/">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </a>
      <a href="https://www.instagram.com/">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      <a href="https://www.twitter.com/">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
      <a href="">
        <ion-icon name="logo-tiktok"></ion-icon>
      </a>
    </div>
    <div class="icones">
      <a href="">
        <ion-icon name="camera"></ion-icon>
      </a>
      <ion-button fill="clear" (click)="irParaAgenda()">
        <ion-icon name="calendar"></ion-icon>
      </ion-button>
    </div>
  </div>
</app-base-page>