<app-base-page pageTitle="Agendar" [showBackButton]="true" backRoute="/agenda">
  <ion-card>
    <ion-card-content>
      <div class="horarios-container">
        <div class="icone-relogio">
          <ion-icon name="time-outline" class="relogio-icon"></ion-icon>
        </div>
        
        <p class="legenda">Períodos para agendar</p>
        <p class="data">{{dataSelecionada}}</p>
        
        <div class="periodos">
          <ion-button 
            class="periodo-btn" 
            [class.disponivel]="periodos.manha.disponivel" 
            [class.ocupado]="periodos.manha.ocupado"
            [disabled]="!periodos.manha.disponivel"
            (click)="selecionarPeriodo('manha')">
            Manhã
          </ion-button>
          
          <ion-button 
            class="periodo-btn" 
            [class.disponivel]="periodos.tarde.disponivel" 
            [class.ocupado]="periodos.tarde.ocupado"
            [disabled]="!periodos.tarde.disponivel"
            (click)="selecionarPeriodo('tarde')">
            Tarde
          </ion-button>
          
          <ion-button 
            class="periodo-btn" 
            [class.disponivel]="periodos.noite.disponivel" 
            [class.ocupado]="periodos.noite.ocupado"
            [disabled]="!periodos.noite.disponivel"
            (click)="selecionarPeriodo('noite')">
            Noite
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</app-base-page>
